<!-- #region SUPSCRIPCION AL BOLETIN-->
<footer id="footerW" class="violeta-footer" fxShow.sm="true" fxShow.gt-md="true" fxShow="false">
    <div class="container">
        <div class="row col-sm-12">
            <div class="col-sm-6">
                <h4 class="textH4">Suscribete a nuestro
                    bolet&iacute;n</h4>
                <div>
                    <form role="form">
                        <div class="input-group">
                            <input id="email" type="text" class="form-control" autocomplete=off
                                   placeholder="Email donde desee recibir publicaciones">
                            <span class="input-group-btn">
                                <button id="btnRegistrarContactoBoletin" class="btn btn-info"
                                        style="margin-top: 10px;" ng-click="registrarContactoBoletin()"
                                        type="button">Enviar!
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 textSpan" >
                Al inscribirte en nuestro boletin tendremos tu correo y te enviaremos informaci&oacute;n sobre todas las
                novedades, noticias, publicaciones y galerias de imagenes sobre nuestra Fundaci&oacute;n Afrocaq.
            </div>

        </div>
    </div>
</footer>
<!-- #endregion -->

<!-- #region COPYRIGHT-->
<app-copyright></app-copyright>
<!-- #endregion -->
