<ngb-carousel *ngIf="images" style="width: 590px; height: 300px; margin: 10px auto !important;"
              showNavigationArrows="true"
              interval="6000"
              pauseOnHover="true">
    <ng-template ngbSlide>
        <img src="../../../../../assets/img/slider/afrocaq_slider2.png" style="width: 590px; height: 300px;"
             alt="Random first slide">
        <div class="carousel-caption">
            <h3>Encuentro Cultural</h3>
            <p>...</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../../../../assets/img/slider/afrocaq_slider1.png" style="width: 590px; height: 300px;"
             alt="Random second slide">
        <div class="carousel-caption">
            <h3>Encuentro Cultural</h3>
            <p>...</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <img src="../../../../../assets/img/slider/afrocaq_slider3.png" style="width: 590px; height: 300px;"
             alt="Random third slide">
        <div class="carousel-caption">
            <h3>Encuentro Cultural</h3>
            <p>...</p>
        </div>
    </ng-template>
</ngb-carousel>


