<div>
    <!-- Elastislide Carousel  class="fixed-bar"-->
    <ul id="carousel" class="elastislide-list-right">
        <li>
            <a href="https://www.facebook.com/afrocaq/" target="_blank" placement="left"
               ngbTooltip="Ir a los contenidos en facebook">
                <img src="../../../../../assets/img/social/icon_facebook.png" height="60" style="margin-right: 6px;"/>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/afrocaq/?hl=es-la" target="_blank" placement="left"
               ngbTooltip="Ir a los contenidos en youtube">
                <img src="../../../../../assets/img/social/icon_youtube.png" height="60" style="margin-right: 6px;"/>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/afrocaq/?hl=es-la" target="_blank" placement="left"
               ngbTooltip="Ir a los contenidos en instagram">
                <img src="../../../../../assets/img/social/icon_instagram.png" height="60" style="margin-right: 6px;"/>
            </a>
        </li>
    </ul>
    <!-- End Elastislide Carousel -->
</div>

