<!-- #region INFORMACIÓN DE CONTACTO-->
<section>
    <div class="container second-portion">
        <div class="row">
            <!-- Boxes de Acoes -->
            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">CORREO Y SITIO WEB</h3>
                            <p>
                                <i class="fa fa-envelope" aria-hidden="true"></i> afrocaq@hotmail.com
                                <br>
                                <br>
                                <i class="fa fa-globe" aria-hidden="true"></i> www.afrocaq.org
                            </p>

                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">CONTACTO</h3>
                            <p>
                                <i class="fa fa-mobile" aria-hidden="true"></i> (038) 4341666
                                <br>
                                <br>
                                <i class="fa fa-mobile" aria-hidden="true"></i> (+57)-313 7414325
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-lg-4">
                <div class="box">
                    <div class="icon">
                        <div class="image"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        <div class="info">
                            <h3 class="title">DIRECCI&Oacute;N</h3>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> Florencia, Caquet&aacute;.<br>
                                Carrera 7C No 1C-70 S Manzana A Casa 2 <br>
                                Barrio Altavista
                            </p>
                        </div>
                    </div>
                    <div class="space"></div>
                </div>
            </div>
            <!-- /Boxes de Acoes -->
            <!--My Portfolio  dont Copy this -->

        </div>
    </div>
</section>
<!-- #endregion -->
