<!-- #region QUIENES SOMOS
<div id="carbonads"><span><span class="carbon-wrap"><a
    href="https://srv.carbonads.net/ads/click/x/GTND42QYF6YIK27JCWA4YKQMFTAIP23UC6SITZ3JCWADL2QNF67IV2JKC6BIE5QJCYSDTK3EHJNCLSIZ?segment=placement:getbootstrapcom;"
    class="carbon-img" target="_blank" rel="noopener sponsored"><img
    src="https://cdn4.buysellads.net/uu/1/41369/1551199029-Adobe_Stock_260x200-2.jpg" alt="ads via Carbon" border="0"
    style="max-width: 130px;"></a><a
    href="https://srv.carbonads.net/ads/click/x/GTND42QYF6YIK27JCWA4YKQMFTAIP23UC6SITZ3JCWADL2QNF67IV2JKC6BIE5QJCYSDTK3EHJNCLSIZ?segment=placement:getbootstrapcom;"
    class="carbon-text" target="_blank" rel="noopener sponsored">Limited time offer: Get 10 free Adobe Stock images.</a></span><a
    href="http://carbonads.net/?utm_source=getbootstrapcom&amp;utm_medium=ad_via_link&amp;utm_campaign=in_unit&amp;utm_term=carbon"
    class="carbon-poweredby" target="_blank" rel="noopener sponsored">ads via Carbon</a></span></div>
-->

<section id="bottom" class="wet-asphalt">
    <div>
        <div class="row" style="margin: 0px auto !important; width: 70%;">
            <div class="col-md-4 col-sm-4">
                <h4>Quienes Somos <a ng-click="cargarEnlace('acercaDe')" id="gototop" class="gototop" href="#"><i
                    class="icon-angle-right"></i>
                </a></h4>
                <br>
                <address>Organizaci&oacute;n creada con el
                    objetivo de apoyar el
                    desarrollo econ&oacute;mico, social, cultural y pol&iacute;tico de la comunidad afro establecida en
                    el
                    departamento del Caquet&aacute;.</address>

            </div>
            <!--/.col-md-3-->

            <div class="col-md-4 col-sm-4">
                <h4>AFROCAQ <a ng-click="cargarEnlace('acercaDe')" id="gototop__" class="gototop" href="#"><i
                    class="icon-angle-right"></i></a></h4>
                <div>
                    <ul class="arrow">
                        <li><a ng-click="cargarEnlace('acercaDe')" id="gototop_" class="gototop" href="#">Acerca de
                            Afrocaq</a></li>
                        <li><a href="#">Acerca de la comunidad</a></li>
                        <li><a href="#">Otros Servicios</a></li>
                        <li><a href="#">Freguntas frecuentes</a></li>
                        <li><a href="#">Contactenos</a></li>
                        <li><a href="#">Politicas de privacidad</a></li>
                        <li><a href="#">Terminos de Uso</a></li>
                        <li><a href="#">Copyright</a></li>
                    </ul>

                </div>
            </div>
            <!--/.col-md-3-->

            <div class="col-md-4 col-sm-4">
                <!--<div class="row">
                    <div class="col-md-3 col-xs-12 col-sm-6">
                        <div class="white-box">
                            <h3 class="box-title">Line Tooltip</h3> Tar light, encyclopaedia <a class="mytooltip" href="javascript:void(0)"> Line tooltip<span class="tooltip-content5"><span class="tooltip-text3"><span class="tooltip-inner2">Howdy, Ben!<br> There are 13 unread messages in your inbox.</span></span></span></a> galactica are creatures of the cosmos. </div>
                    </div>
                </div>
                -->
                <h4>Nuestra Ubicaci&oacute;n <i class="icon-angle-right"></i></h4>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3988.245815147223!2d-75.60052368466961!3d1.6086863611358364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1542804421040"
                    allowfullscreen width="300" height="200" frameborder="0" style="border:0">
                </iframe>

                <address>
                    <strong>Florencia, Caquet&aacute;.</strong><br>
                    Carrera 7C No 1C-70 S Manzana A Casa 2 <br>
                    Barrio Altavista <br>
                    <abbr title="Telefono fijo">Telefono Fijo:</abbr> (038) 4341666<br>
                    <abbr title="Telefono Movil">Celular:</abbr>(057) 313 7414325
                </address>

            </div>
            <!--/.col-md-3-->
        </div>
    </div>
</section>
<!-- #endregion -->
