<div>
    <!-- Elastislide Carousel  class="fixed-bar"-->
    <ul id="carousel" class="elastislide-list-left">
        <li><a href="http://www.radioafricana.com/" target="_blank" placement="right"
               ngbTooltip="http://www.radioafricana.com"><img
            src="../../../../../assets/img/small/1.jpg" alt="image01" width="60"/></a></li>
        <li><a href="https://tunein.com/podcasts/Podcasts/AfroPOP-Radio-p1123498/" target="_blank"
               placement="right"
               ngbTooltip="https://tunein.com/podcasts/Podcasts/AfroPOP-Radio-p1123498"><img
            src="../../../../../assets/img/small/2.jpg" alt="image02" width="60"/></a></li>
        <li><a href="http://africaninternetradio.com/" target="_blank" placement="right"
               ngbTooltip="http://africaninternetradio.com"><img
            src="../../../../../assets/img/small/3.jpg" alt="image03" width="60"/></a></li>
        <li><a href="http://www.liveonlineradio.net/mix/afro-fm.htm" target="_blank" placement="right"
               ngbTooltip="http://www.liveonlineradio.net/mix/afro-fm.htm"><img
            src="../../../../../assets/img/small/15.jpg" alt="image15" width="60"/></a></li>
        <li><a href="https://www.radio.es/s/calmafrica" target="_blank" placement="right"
               ngbTooltip="https://www.radio.es/s/calmafrica"><img
            src="../../../../../assets/img/small/5.jpg" alt="image05" width="60"/></a></li>
        <li><a href="https://www.radio.es/s/africanmusicfusion" target="_blank" placement="right"
               ngbTooltip="https://www.radio.es/s/africanmusicfusion"><img
            src="../../../../../assets/img/small/4.jpg" alt="image04" width="60"/></a></li>
        <li><a href="http://www.afropulsefm.com/" target="_blank" placement="right"
               ngbTooltip="http://www.afropulsefm.com"><img
            src="../../../../../assets/img/small/6.jpg" alt="image06" width="60"/></a></li>
        <li><a href="http://www.radiokumbe.com.co/" target="_blank" placement="right"
               ngbTooltip="http://www.radiokumbe.com.co"><img
            src="../../../../../assets/img/small/22.jpg" alt="image01" width="60"/></a></li>
        <li><a href="https://pressureradio.com/" target="_blank" placement="right"
               ngbTooltip="https://pressureradio.com"><img
            src="../../../../../assets/img/small/7.jpg" alt="image07" width="60"/></a></li>
        <li><a href="https://www.radio.it/s/africahits" target="_blank" placement="right"
               ngbTooltip="https://www.radio.it/s/africahits"><img
            src="../../../../../assets/img/small/8.jpg" alt="image08" width="60"/></a></li>
        <li><a href="https://www.radio.es/s/afrohouse" target="_blank" placement="right"
               ngbTooltip="https://www.radio.es/s/afrohouse"><img
            src="../../../../../assets/img/small/9.jpg" alt="image09" width="60"/></a></li>
        <li><a href="http://www.kope.es/musicaafricana.html" target="_blank" placement="right"
               ngbTooltip="http://www.kope.es/musicaafricana.html"><img
            src="../../../../../assets/img/small/10.jpg" alt="image10" width="60"/></a></li>
        <li><a href="https://www.radio.it/s/afriradioeurope" target="_blank" placement="right"
               ngbTooltip="https://www.radio.it/s/afriradioeurope"><img
            src="../../../../../assets/img/small/11.jpg" alt="image11" width="60"/></a></li>
    </ul>
    <!-- End Elastislide Carousel -->
</div>

