<!-- #region SERVICIOS-->
<section>
    <div class="wrapperMain">
        <section id="services" class="bounce-inInverse">
            <div class="containerContent">
                <div class="set_size_section1">
                    <h2 class="services_h2 center">SERVICIOS QUE BRINDA AFROCAQ</h2>
                    <p class="services_p center">En afrocaq podras ...</p>
                    <div class="article_center2">
                        <article class="section1_article">
                            <img alt="Basket" src="http://icons.iconarchive.com/icons/jozef89/services-flat/512/ecommerce-icon.png" width="78" height="77">
                            <h3>Noticias de la comunidad</h3>
                            <p>Organizaci&oacute;n creada con el objetivo de apoyar el desarrollo econ&oacute;mico, social, cultural y pol&iacute;tico de la comunidad afro establecida en el departamento del Caquet&aacute;.
                            </p>
                        </article>
                        <article class="section1_article">
                            <img alt="Laptop" src="http://icons.iconarchive.com/icons/jozef89/services-flat/512/responsive-web-icon.png" width="78" height="77">
                            <h3>Eventos Afro en el Caqueta</h3>
                            <p>Organizaci&oacute;n creada con el objetivo de apoyar el desarrollo econ&oacute;mico, social, cultural y pol&iacute;tico de la comunidad afro establecida en el departamento del Caquet&aacute;.
                            </p>
                        </article>
                        <article class="section1_article">
                            <img alt="Locked" src="https://cdn0.iconfinder.com/data/icons/web-development-2/512/security_lock_password_protection_secure_locking_system_safe_privacy_private_safety_encryption_flat_design_icon-512.png" width="78" height="77">
                            <h3>Comunidad en Linea</h3>
                            <p>Organizaci&oacute;n creada con el objetivo de apoyar el desarrollo econ&oacute;mico, social, cultural y pol&iacute;tico de la comunidad afro establecida en el departamento del Caquet&aacute;.
                            </p>
                        </article>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<!-- #endregion -->