.copyright {
    text-align: center !important;
    font-size: 1.0rem;
    padding: 10px;
    color: white !important;
}

.violeta{
    background-color: #BB33FF !important;
    color: white !important;
    padding-top: 30px;
    margin-bottom: -30px;
}

