<!-- #region INFORMACIÓN PRINCIPAL-->

<section id="testimonial" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="center" style="padding: 8px; font-weight: lighter !important;">
                    <h2 style="color:#3A383A !important;">Comunidad Afrocolombiana.</h2>

                    <p style="font-size: 1.8rem !important;">Las comunidades negras o afrocolombianas, constituyen
                        varias comunidades que
                        viven de acuerdo con la forma cultural desarrollada por las etnias de procedencia africana,
                        una
                        vez
                        asentadas en el territorio colombiano y se encuentran ubicadas especialmente en la zona
                        Pac&iacute;fica y
                        en la zona Andina del Pa&iacute;s </p>
                </div>
                <div class="gap"></div>
                <div class="row">
                    <div class="col-md-6">
                        <blockquote>
                            <p>
                                <img src="../../../../../assets/img/info.png" height="26" width="26"
                                     style="margin-right:8px;" />Derechos humanos
                            </p>
                            <small style="font-size: 1.8rem !important;color:#3A383A !important;">
                                Nuestro objetivo general es reivindicar y promover los derechos humanos ,
                                territoriales , sociales , econ&oacute;micos , culturales , ambientales y/o pol&iacute;ticos de
                                las comunidades negras Afrocolombianas, Raizales o Palenqueras, desde la perspectiva
                                &eacute;tnica, , dentro del marco de la diversidad etnocultural que caracteriza el pa&iacute;s
                                <cite title="Source Title"> >>></cite>
                            </small>
                        </blockquote>
                        <blockquote>
                            <p>
                                <img src="../../../../../assets/img/info.png" height="26" width="26"
                                     style="margin-right:8px;" />La comunidad como pilar de desarrollo.
                            </p>
                            <small style="font-size: 1.8rem !important;color:#3A383A !important;">
                                Nuestra comunidad afrocaq centra su objetivo en ser un intermediario entre las
                                comunidades negras y las instituciones p&uacute;blicas y privadas para apoyar el desarrollo
                                econ&oacute;mico, social, cultural y pol&iacute;tico de las comunidades negras establecidas en el
                                departamento del Caquet&aacute;.<cite title="Source Title"> >>></cite>
                            </small>
                        </blockquote>

                    </div>
                    <div class="col-md-6">
                        <blockquote>
                            <p>
                                <img src="../../../../../assets/img/info.png" height="26" width="26"
                                     style="margin-right:8px;" />Afrocaq y los jovenes
                            </p>
                            <small style="font-size: 1.8rem !important;color:#3A383A !important;">
                                Inculcar en el joven afrodecendiente caquete&ntilde;o sus ra&iacute;ces &eacute;tnicas para que puedan
                                conservar su cultura, su historia y perpetuarla a trav&eacute;s de las nuevas
                                generaciones..<cite title="Source Title"> >>></cite>
                            </small>
                        </blockquote>
                        <blockquote>
                            <p>
                                <img src="../../../../../assets/img/info.png" height="26" width="26"
                                     style="margin-right:8px;" />Econom&iacute;a y ambiente
                            </p>
                            <small style="font-size: 1.8rem !important;color:#3A383A !important;">
                                Agrocaq genera propuestas y proyectos de desarrollo socioecon&oacute;mico y ambiental en
                                los diferentes niveles territoriales.<cite title="Source Title">>>></cite>
                            </small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- #endregion -->
