.midnight-blue{
    background-color: #33BBFF;
    width: 100% !important;
    margin: 0px auto !important;
    color:#3A383A !important;
    margin-top:  10px;
    font-weight: lighter !important;
    padding: 10px;
}
